@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    src: url(../fonts/LemonMilk.ttf);
    font-family: lemon;
}
@font-face {
    src: url(./fonts/Elkwood.ttf);
    font-family: elkwood;
}
@font-face {
    src: url(./fonts/Kollektif-BoldItalic.ttf);
    font-family: kollektif;
}
*,
*::before,
*::after{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'elkwood', sans-serif;
    --secondary-font: 'elkwood', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #a8070b;
    --body-font-color: #515151;
}
html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}



/*HEADER*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}

.nav{
    height: 7,2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 2000;
}



.fa-times-circle{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #ca5558;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transition: scale(0);
    transition: opacity .5s;
}

.open .fa-times-circle{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateZ(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);

}

.nav-item{
    border-bottom: 2px solid rgba(255,255,255, .3);
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
}

.nav-link:hover{
    color: var(--secondary-font-color);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
body li{
    list-style: none;
}

/*PLANS*/

.pricing-table {

    margin-top: 27rem;
    margin-left: 6rem;
}


.pricing-card{
    flex: 1;
    max-width: 360px;
    background-color:rgb(236, 168, 168);
    margin: 30px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: .3s linear;
    border-radius: 20px;
}

.pricing-card-header{
    background-color:#d13e40;
    display: inline-block;
    color: var(--main-font-color-dark);
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 27em #d13e40;
}

.price{
    font-size: 70px;
    margin: 20px 0;
    transition: .2s linear;
}
.price sup{
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
    color: var(--main-font-color-dark)
}

.pricing-card li{
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}

.pricing-table ul {
    padding: 15px 10px;
    text-align: center;
  }

.select-btn{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 50px;
    border: 2px solid #d13e40;
    color: #d13e40;
    padding: 18px 40px;
    border-radius: 2rem;
    
    font-weight: 500;
    transition: .3s linear;

}

.select-btn:hover{
    background-color: #d13e40;
    color: var(--main-font-color-dark)
}




  .pick{
    color: var(--main-font-color-dark);
    position: absolute;
    top: 14rem;
    font-size: 3.5rem;
    margin-left: 6rem;
}

body{
    background-image: url(images/getstartedbg.png);
}

footer{   
    width: 100%;
    bottom: -198rem;
    padding: 6.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: absolute;
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;

}

.back-to-top i{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;

}


.footer-content{
    /*overflow: hidden;*/
}

.footer-content h4{
    font-size: 1,9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content-about{
    margin-bottom: 5.4rem;
}

.footer-content-about p{
    line-height: 2;
}

.follow{
    margin-top: 1rem;
   font-size: 1.3rem; 
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i{
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color)
}

.input{
    font: var(--body-font)
}


@media screen and (max-width: 899px){
    .pricing-table{
        border-radius: 3px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;
        max-width: 1200px;
        margin: 250px auto;
          
    }
    footer{   
        width: 100%;
        bottom: -130rem;
        padding: 6.9rem 0;
        background-color: #121212;
        color: #fff;
        text-align: center;
        position: absolute;
    }
    
}

@media screen and (max-width: 599px){
    .pricing-table{
        border-radius: 3px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;
        max-width: 1200px;
        margin: 250px auto;
    }
    footer{   
        width: 100%;
        bottom: -210rem;
        padding: 6.9rem 0;
        background-color: #121212;
        color: #fff;
        text-align: center;
        position: absolute;
    }
}

@media screen and (min-width: 900px){

    body{
        background-image: url(images/getstartedbg.png);
    }
    .pick{
        color: var(--main-font-color-dark);
        text-align: center;
        position: absolute;
        top: 10rem;
        font-size: 3.5rem;
        margin-left: 76rem;
    }


    section{
        padding: 7,9rem;
    }
   
    .menu-toggle{
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .active{
        position: relative;
    }
    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }




    .pricing-card:hover .pricing-card-header{
        box-shadow: 0 0 0 30em #d13e40;
    }

    .price{
        position: relative;
        padding: 20px 10px;
        display: block;
        font-size: 70px;
        margin: 8px 0;
        transition: .2s linear;
    }




    .pricing-table h3 {
        font-size: 1.5em;
        padding: 15px 30px;
        margin: 0;
      }

    .pricing-card li{
        font-size: 20px;
        padding: 10px 0;
        text-transform: uppercase;
    }
    .pricing-table ul {
        padding: 15px 10px;
        text-align: center;
      }
    .pricing-table{
        border-radius: 3px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        text-align: center;
        max-width: 1200px;
        margin: 30px auto;
          
    }

    .pricing-card{
      margin:
       
    }


    .pricing-card{
        
        flex: 1;
        max-width: 360px;
        background-color:rgb(236, 168, 168);
        margin: 210px 10px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        transition: .3s linear;
        border-radius: 20px;
    }



    .pricing-table > div {
        -ms-flex-item-align: top;
        -ms-grid-row-align: top;
        align-self: top;

      }


    footer{   
        width: 100%;
        bottom: -59rem;
        padding: 6.9rem 0;
        background-color: #121212;
        color: #fff;
        text-align: center;
        position: absolute;
    }
    
    .back-to-top{
        width: 7rem;
        height: 7rem;
        background-color: #121212;
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
    
    }
    
    .back-to-top i{
        display: block;
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
    
    }
    
    
    .footer-content{
        /*overflow: hidden;*/
    }
    
    .footer-content h4{
        font-size: 1,9rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 3px;
        margin-bottom: 3rem;
    }
    
    .footer-content-about{
        margin-bottom: 5.4rem;
    }
    
    .footer-content-about p{
        line-height: 2;
    }
    
    .follow{
        margin-top: 1rem;
       font-size: 1.3rem; 
    }
    .social-icons{
        list-style: none;
        margin-bottom: 5.4rem;
        display: flex;
        justify-content: center;
    }
    
    .social-icons i{
        font-size: 2.5rem;
        color: #fff;
        padding: 1rem;
        opacity: .5;
        transition: color .5s;
    }
    
    .social-icons i:hover,
    .social-icons i:focus{
        color: var(--secondary-font-color)
    }

    .input{
        font: var(--body-font)
    }
  
   

  